*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  .container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    .apps__container{
      width: 500px;
      border-radius: 10px;
      margin: 100px auto;
      background-color: #fff;
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
      button.reload{
        width: 100%;
        display: block;
        padding: 1rem;
        border: none;
        margin: 40px 0px;
        outline: none;
        background-color: #8ce8f8d9;
        border-radius: 0px 0px 10px 10px;
        cursor: pointer;
        font-size: 18px;
      }
      h2{
        padding-top: 30px;
        text-align: center;
      }
      ul{
        padding: 20px 40px;
        list-style-position: inside;
        list-style-type: none;
        li{
          margin: 10px 0px;
          label{
            cursor: pointer;
          }
        }
      }
      button.submitBtn{
        display: block;
        width: 100%;
        margin: 20px 0px;
        padding: 1rem;
        border: none;
        border-radius: 0px 0px 10px 10px;
        outline: none;
        background-color:  #8ce8f8d9;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width:570px) {
  body{
    .container{
      width: 100%;
      padding: 0px 10px;
      .apps__container{
        h2{
          font-size: 20px;
        }
        width: 100%;
      }
    }
  }
}